body {
  width: 450px;
  height: 600px;
  margin: 0px;
  /*background-color: #e6f4f1;*/
}

.popupContainer {
  padding: 10px 15px;
}
.selectForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  /*justify-content: "space-between";*/
}
