.headerContainer {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  background-color: #007777;
}
.logo {
  width: 35px;
  height: auto;
  margin: 0 10px;
}
.logo img {
  width: 100%;
  height: auto;
}
h1 {
  color: #ffffff;
}
